body {
  background-color: #222222;
}

h1 {
  color: white;
}

.display-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2%;
}

#pads {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 100px));
  grid-template-rows: 100px 100px 100px
}

#display {
  color: white;
}